html
  head
    title Ecommerce
    link(rel='stylesheet', href='/styles/products.css')
    link(rel='stylesheet', href='/styles/layout.css')
    link(rel='stylesheet', href='/styles/navbar.css')
    link(rel='stylesheet', href='/styles/footer.css')
    link(rel='stylesheet', href='/styles/categories.css')
    link(rel='stylesheet', href='/styles/cart.css')
    link(rel='stylesheet', href='/styles/purchases.css')


  body
    include components/navbar
    .wrapper
        .data-cart
            h1 Checkout
            .container-cart
              .products-totalprices
                ul#list-products-cart
                .totalprices
                button#btn_clean_products.cta-btn Limpiar carro
              .total-info
                #quantity
                #price
                button.cta-btn#btn-comprar Comprar
                  
        .contenedor
          a.boton-flotante(type="button", onclick="scrollToTop()")
            | Top
            span.icono-flecha

    #miModal.modal
      .modal-contenido
        <p>¡Compra realizada con éxito!</p>
      </div>
    </div>
    include components/footer
    
    script(src="/js/products.js")
    script(src="/js/layout.js")
    script(src="/js/cart.js")
    script(src="/js/purchases.js")
    script(src="/js/historial.js")    
    
    

       
        