extends layout

block content

    .wrapper-notfound
        h1.title_not_found No se encontraron productos
        button.cta-btn#back-btn(type='button') Volver al inicio

    script(src="../../js/nofound.js") 