.wrapper{
    padding: 30px 0;
}

#list-products-cart::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  #list-products-cart::-webkit-scrollbar-track {
    background: rgb(250, 188, 73);        /* color of the tracking area */
  }
  
  #list-products-cart::-webkit-scrollbar-thumb {
    background-color: rgb(231, 231, 241);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(253, 195, 86);  /* creates padding around scroll thumb */
  }

.data-cart{
    height: auto;
    max-width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px; 

}

.data-cart h1{
    margin-bottom: 20px;
}

.data-cart #list-products-cart{
    align-items: start;
    overflow-y: scroll;
    border: 1px solid #ccc; /* Añadir un borde para visualización */
    border-radius: 20px 0px 0px 20px;
    width: 650px;
    height: 500px;
}


.product-card {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    gap: 30px;
    width: 600px;
    height: 200px;
}

.product-card .product-img{
    width: 40%;
}

.product-card img {
    object-fit: contain;
    margin-right: 20px;
}

.product-info {
    flex-grow: 1;
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.product-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}


#btn_clean_products{
    margin-top: 20px;
    min-width: 200px
}

.container-cart{
    display: flex;
}

.total-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    font-size: 20px;
    font-weight: 300;
}

.total-info .cta-btn{
    min-width: 200px;
    font-size: 20px;
    background-color: #0056b3;
    color: #fafafa;
}


.contenedor{
    height:auto;
    min-height: 0;
}


.skin-2 .num-in {
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	height: 40px;
	width: 110px;
  float: left;
}

.skin-2 .num-in	span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: #667780;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
		float: left;
		width: 20%;
		height: 40px;
		border: none;
		text-align: center;
}

.cantidad-spinner{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.product-info img {
    width: 30px;
    height: auto;
}

.eliminar-product{
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper-buttons-checkout{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
