
.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../media/bg-hero.svg');
    background-size: cover;
    display: flex;
    max-width: 100vw;
    object-fit: contain;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #585858;
    font-size: 35px;
    font-weight: 300;
}


@media (max-width:1600px){
    .hero-section{ 
        background-position: 50% 50%;
    }
}

@media (max-width:768px){

    .hero-section .sub-heading{ 
        font-weight: 700;
        color:#Fafafa
    }
}

.wrapper-hero-section{
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    display: flex;
    width: 1200px;
    align-items: center;
}


.content{
    width: 500px;
    background-image: url(../media/sssplatter.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: relative;
    top: -100px;
}


.content a {
    text-decoration: none;
    color: #fafafa;
    position: relative;
    bottom: -40px;
    right: -40px;
    font-weight: 600;
    font-size: 25px;
}

.contenedor{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}


.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}



.bg-section-toprating{
    width: 100%;
    height: auto;
}

.wrapper-top-rating{
    max-width: 1200px;
    margin: 50 auto;
}

#title-product-home{
    font-size: 20px;
}

#title-products-toprating{
    padding: 0 10px;
    margin-top: 60px;
}

.container-info-home{
    display: flex;
}

.container-rating{
    display: flex;
    height: 80px;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-rating img{
    width: 50px;
}

.container-rating span{
    font-size:20px;
    font-weight: 600;;
}

.btn-more-products{
    padding: 10;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif
}

a .btn-more-products{
    text-decoration: none;
    color: #000;
    height: 100%;
    width: 100%;
}

