.wrapper-nav
    nav
        .logo#logo
            h1 
                a(href='/') S A T O
            .wrapper-products-carrito
                a(href='/products') Productos
                a(href='/purchases/history')#link-compras Compras
                .carrito-notification
                    a(href='/cart')
                        img(src="/media/carrito-de-compras.png", alt="carrito de compras")
                        .circle
                    

