.wrapper-nav
    nav
        .logo#logo
            h1 
                a(href='/') ECOMMERCE
            .carrito-notification
                a(href='/cart')
                    img(src="/media/carrito-de-compras.png", alt="carrito de compras")
                    .circle

    .container-wave
        svg(viewBox="0 0 500 500", preserveAspectRatio="xMinYMin meet")
            path(d="M0,100 C150,200 350,0 500,100 L500,0 L0,0 Z", style="stroke: none; fill: #facc97;")
       
